<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring_security">
<head>
    <meta charset="UTF-8">
    <title>Prabhu Home</title>
</head>
<body>
    <h1>Welcome, Dude!!! How are you doing?</h1>
    <p>Hope you are doing well in life.</p>

    <span>User : </span>
    <span sec:authentication="principal.username"></span> <br><br>
    <span>Roles : </span>
    <span sec:authentication="principal.authorities"></span> <br><br>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>